@page
@model Demo1.Pages.BootstrapInformationModel
@{
}

<link rel="stylesheet" href="bootstrap/css/bootstrap-icons.css" />
<script src="lib/jquery/dist/jquery.min.js"></script>

<div class="full-width pb-1">
    <div class="card bg-primary text-white">
        <div class="card-body">This <strong>div</strong> overrides the default layout</div>
    </div>
</div>


<div class="container">

    <div class="row">

        <div class="list-group">
            <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" target="_blank" class="list-group-item list-group-item-action list-group-item-primary">Getting started</a>
            <a href="https://getbootstrap.com/docs/5.0/layout/containers/" target="_blank" class="list-group-item list-group-item-action list-group-item-primary">Containers</a>
            <a href="https://getbootstrap.com/docs/5.0/utilities/spacing/" target="_blank" class="list-group-item list-group-item-action list-group-item-primary">Spacing</a>
            <a href="https://getbootstrap.com/docs/5.0/utilities/sizing/" target="_blank" class="list-group-item list-group-item-action list-group-item-primary">Sizing</a>
            <a href="https://getbootstrap.com/docs/5.0/utilities/colors/" target="_blank" class="list-group-item list-group-item-action list-group-item-primary">Colors</a>
            <a href="https://getbootstrap.com/docs/5.0/content/tables/" target="_blank" class="list-group-item list-group-item-action list-group-item-primary">Tables</a>
            <a href="https://getbootstrap.com/docs/5.0/forms/overview/" target="_blank" class="list-group-item list-group-item-action list-group-item-primary">Forms</a>
            <a href="https://getbootstrap.com/docs/5.0/components" target="_blank" class="list-group-item list-group-item-action list-group-item-primary">Components</a>
        </div>

    </div>

    @*<div class="row mt-lg-2">

        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

            <div class="btn-group  me-2 " role="group" aria-label="First group">

                <button type="button" class="btn btn-danger">
                    Notifications <span class="badge bg-secondary">10</span>
                </button>

                <button type="button" class="btn btn-primary">
                    Notifications <span class="badge bg-secondary">0</span>
                </button>

                <button type="button" class="btn btn-primary">
                    Notifications <span class="badge bg-secondary">0</span>
                </button>

            </div>

            <div class="btn-group  me-2 " role="group" aria-label="Second group">
                <button type="button" class="btn btn-success">
                    Notifications <span class="badge bg-light text-black">4</span>
                </button>
                <button type="button" class="btn btn-success">
                    Notifications <span class="badge bg-secondary">4</span>
                </button>
                <button type="button" class="btn btn-primary">
                    Errors <span class="badge bg-danger">225</span>
                </button>
            </div>

        </div>

    </div>*@
</div>


<div class="container mt-1">
    <button type="button" class="btn btn-sm btn-primary" id="liveToastBtn">Show live toast</button>
</div>

@* Toast code with two second timeout in document ready *@
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">

    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">

        <div class="toast-header text-primary">
            <strong class="me-auto">You have new messages</strong>
            <small class="text-muted">Just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>

        <div class="toast-body text-white bg-primary">
            Please read them soon
        </div>

    </div>

</div>

<div class="container border rounded-3 border border-success mt-1">
    <partial name="PartialBootstrap" />
</div>

@section AnotherFooter {
    <div id="mainFooter" class="container">
        <img src="https://img.shields.io/badge/Karen%20Payne-Instructor-blue" alt="">
        <script>document.write(/\d{4}/.exec(Date())[0])</script> - <a asp-area="" asp-page="/Index">Home</a>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {

        // active a toast
        $("#liveToastBtn").click(function () {
            $('.toast').toast('show');
        });

        // override toast default timeout, can also be done via data attributes
        //      data - delay="2000" data-autohide="false"
        $('.toast').toast({ delay: 2000, animation: false });
    });
</script>
