@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="css/bootstrap-dialog.min.css" />
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="js/bootstrap-dialog.js"></script>

<link rel="stylesheet" href="bootstrap/css/bootstrap-icons.css" />
<script src="js/index.js"></script>
<link rel="stylesheet" href="css/index.css" />


<div class="container">

    <div class="row">
        <div class="col-3">
            <div class="circle ml-4">OED</div>
        </div>
    </div>

    <div class="row">
        <div class="col-3"><button type="button" id="clicker" class="btn btn-primary mt-5">Bootstrap dialog w/o divs</button></div>
        <div class="col-3"><button type="button" class="btn btn-primary mt-5"> Bootstrap dialog w/o divs</button></div>
        <div class="col-3"><button type="button" class="btn btn-primary mt-5">Bootstrap dialog w/o divs</button></div>
        <div class="col-3"><button type="button" class="btn btn-primary mt-5">Bootstrap dialog w/o divs</button></div>
    </div>

</div>

<partial name="PartialDemo" model=@("Oops! Page Not Found") />

