@*@model Demo1.Pages.Shared.PartialDemoModel*@
@model string

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1><span class="bi-chevron-compact-left"></span>404<span class="bi-chevron-compact-right"></span></h1>
                <h2>@Model</h2>
                <div>Sorry, but the page you were trying to view does not exist</div>
                <div class="error-actions">
                    <button class="btn btn-primary btn-lg"><i class="bi-house-door-fill"></i> Go to Homepage </button>
                    <button class="btn btn-secondary btn-lg"><i class="bi-envelope-fill"></i> Contact Support </button>
                </div>
            </div>
        </div>
    </div>
</div>