<style>
    .alert {
        display: inline-block;
    }
    mark {
        display: inline-block;
        line-height: .2em;
        padding-bottom: 0.5em;
        background-color:lavender
    }
</style>
<div class="alert alert-primary col-12 text-center" role="alert">
    Reason for using Bootstrap
</div>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Time-Saving
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>When you are bound to an extremely confined timeline to build a website, web app or mobile app, you can take advantage of Bootstrap and nail your project effortlessly. It’s because of the ready-made blocks built ready for you to use them. Clearly, you don’t have to start everything from scratch, and you can modify certain elements to make it unique with your inputs.</p>
                <p>Bootstrap unpacks ready-made themes & templates when you download and install it. You can choose from it or you can also opt to include inputs from other sources. But, you must also be aware that there are a lot of people who do the same. Hence, to look unique from the rest of the websites that have the same theme or template, you need to get a little creative and tweak certain things so that it defines your website or application distinctively.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Easy to Use
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>No matter whether you are an expert or a beginner in web technologies, you can swiftly do the Bootstrap installation for yourself without any hassle. As said, though you don’t have to be an expert in web technologies (<mark>HTML, CSS, JavaScript</mark>), having basic knowledge of them don’t hurt. Below are the ways to link your HTML document with your style sheet and script file.</p>                   
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Responsive Grid System
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>Creating a page starts from creating a grid layout for your page. Responsive grid systems are of utmost priority as there is an increase in the usage of smartphones. Any disorientation in front-end design will directly impact on the authenticity of the website and your website fails to gain the visitors’ trust. Since Bootstrap has been built under the idea of “Mobile-First”, its grid system can divide the screen into 12 equal columns and accommodate the elements according to the screen size. This makes your website’s front-end mobile-friendly. Also, with the help of the grid system’s classes, you can hide and show certain elements only on certain devices.</p>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Customizable
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>You can always tweak the CSS file if you’re not satisfied with Bootstrap’s design template. Also, you can combine it with your existing design and make them complement each other’s functions. It is very much helpful when you want to give your website a distinct look but you don’t have enough time to learn or code custom CSS from scratch.</p>
                <p>With the help of Bootstrap’s customization page, you can tweak it further to create your own theme. Also, you must identify and remove all the plugins and components that you will not require for your web project. Moreover, you also get to have a section where you can customize your template by changing the values to the variables.</p>
            </div>
        </div>
    </div>
    
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Cross-Browser Compatibility
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>With the help of Bootstrap’s customization page, you can tweak it further to create your own theme. Also, you must identify and remove all the plugins and components that you will not require for your web project. Moreover, you also get to have a section where you can customize your template by changing the values to the variables.</p>
            </div>
        </div>
    </div>
    
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Establish Consistency
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p>For a longer period, there have been inconsistencies prevailing between the Front-end and Backend development teams. The creators of Bootstrap wanted to find a solution to establish consistency among them. Thus, they came up with Bootstrap that eradicates the use of libraries that differ from developer to developer. Hence, no matter who handles the project, the framework establishes consistency throughout the project. Since it is also cross-browser compatible, no matter what browser you use for your development purpose, it consistently reflects the same output across all browsers.</p>
            </div>
        </div>
    </div>
</div>
