@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section AnotherFooter {
    <div id="mainFooter" class="container">
        <img src="https://img.shields.io/badge/Karen%20Payne-Instructor-blue" alt=""> <script>document.write(/\d{4}/.exec(Date())[0])</script> - <a asp-area="" asp-page="/Index">Home</a>
    </div>
}
