@*@model Demo1.Pages.Shared.PartialDemoModel*@
<!-- Sidebar-->
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light"><a class="text-black text-decoration-none" href="https://github.com/StartBootstrap" target="_blank">Start Bootstrap</a></div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#">Dashboard</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#">Shortcuts</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#">Overview</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#">Events</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area="" asp-page="/Profile">Profile</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#">Status</a>
    </div>
</div>