@page
@model IndexModel
@{
    // Change to side bar page for _LayoutSidebar.cshtml
    ViewData["Title"] = "Home page q";
    string page = ViewContext.RouteData.Values["page"] as string;
    string title = ViewData["Title"] as string;
}
<script src="jquery/jquery.min.js"></script>
<link rel="stylesheet" href="css/bootstrap-dialog.min.css" />
<link rel="stylesheet" href="bootstrap/css/bootstrap-icons.css" />
<script src="js/index.js"></script>




<div class="d-flex" id="wrapper">

    <partial name="_SideMenu" />

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <partial name="_Navigation" />
        <partial name="_MainContent" />
    </div>


</div>
